<!DOCTYPE html>

<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['../assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <environment include="Development">
        <link href="~/assets/css/fonts.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/azzara.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="~/assets/css/demo.css">

    <script src="lib/js/jquery.min.js"></script>

</head>
<body>

    <div class="wrapper">
        <!--
                Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
        -->
        <div class="main-header" data-background-color="green">
            <!-- Logo Header -->
            <div class="logo-header">

                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="logo">
                    <!-- <img src="assets/img/logoazzara.svg" alt="navbar brand" class="navbar-brand"> -->
                    <div style="color:white ; font-weight:bold">mySkol Admission</div>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="~/assets/img/profile.png" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="~/assets/img/profile.png" alt="image profile" class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <h4>Administrator</h4>
                                            <p class="text-muted">mySkol Admission</p></a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-area="Account" asp-controller="Home" asp-action="Index">Account Setting</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Logout</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <div class="sidebar">

            <div class="sidebar-background"></div>
            <div class="sidebar-wrapper scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                                <i style="color:green" class="fas fa-home"></i>
                                <p>Dashboard</p>
                                <span class="badge badge-count"></span>
                            </a>
                        </li>
                        <br>
                        <div class="nav-item">
                            <a asp-area="Admin" asp-controller="Home" asp-action="LibraryHall">
                                <i style="color:green" class="fas fa-layer-group"></i>
                                <p>Library Hall</p>

                            </a>

                        </div>
                        <br>
                        <div class="nav-item">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Enquiries">
                                <i style="color:green" class="fas fa-pen-square"></i>
                                <p>Enquiries</p>

                            </a>
                        </div>
                        <br>
                        <div class="nav-item">
                            <a asp-area="Admin" asp-controller="Home" asp-action="Support">
                                <i style="color:green" class="fas fa-pen-square"></i>
                                <p>System Support</p>

                            </a>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="content">
                <div>
                    @RenderBody()
                </div>



            </div>



        </div>



    </div>
    <!--   Core JS Files   -->
    <script src="~/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="~/ssets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Moment JS -->
    <script src="~/assets/js/plugin/moment/moment.min.js"></script>

    <!-- Chart JS -->
    <script src="~/assets/js/plugin/chart.js/chart.min.js"></script>

    <!-- jQuery Sparkline -->
    <script src="~/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

    <!-- Chart Circle -->
    <script src="~/assets/js/plugin/chart-circle/circles.min.js"></script>

    <!-- Datatables -->
    <script src="~/assets/js/plugin/datatables/datatables.min.js"></script>

    <!-- Bootstrap Notify -->
    <script src="~/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Bootstrap Toggle -->
    <script src="~/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

    <!-- jQuery Vector Maps -->
    <script src="~/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

    <!-- Google Maps Plugin -->
    <script src="~/assets/js/plugin/gmaps/gmaps.js"></script>

    <!-- Sweet Alert -->
    <script src="~/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Azzara JS -->
    <script src="~/assets/js/ready.min.js"></script>



</body>
</html>


<script>
    function GetAllEmp() {
        $.getJSON("http://172.17.83.129:8085/api/employees", function (data) {
            $('#bindemp').empty();
            $.each(data, function (key, val) {

                var row = "<tr><td>" + val.stuffNo + "</td><td>" + val.title + "</td><td>" + val.name +
                    "</td><td>" + val.email + "</td><td>" + val.phone + "</td><td>" + val.position + "</td><td>" +
                    "<a class='btn btn-danger btn-rounded btn-sm my-0'  role='button' ><i  class='fas fa-angle-double-right'>"
                    + "</a>" +
                    + "</td></tr>";

                $(row).appendTo($('#bindemp'));

            });
        });
    }

    function  GetAllLearners(){
        $.getJSON("http://172.17.83.129:8085/api/students", function (data) {
            $('#ltable').empty();
            $.each(data, function (key, val) {

                var row = "<tr><td>" + val.studentNo + "</td><td>" + val.name +" "+val.surname+ "</td><td>" + val.idNumber +
                    "</td><td>" + val.gender + "</td><td>" + val.email + "</td><td>" + val.enrolledYear +  "</td><td>" + val.currentGrade + "</td><td>" +
                    "<a class='btn btn-danger btn-rounded btn-sm my-0'  role='button' ><i  class='fas fa-angle-double-right'>"
                    + "</a>" +
                    + "</td></tr>";

                $(row).appendTo($('#ltable'));

            });
        });
    }

     function GetAllApplicants() {
        $.getJSON("http://172.17.83.129:8085/api/applicants", function (data) {
            $('#apptable').empty();
            $.each(data, function (key, val) {

                var row = "<tr><td>" + val.referenceNo + "</td><td>" + val.name+" "+val.surname + "</td><td>" + val.gender +
                    "</td><td>" + val.email + "</td><td>" + val.appliedGrade + "</td><td>" + val.enrollYear + "</td><td>" + val.status + "</td><td>" +
                    "<a class='btn btn-danger btn-rounded btn-sm my-0'  role='button' ><i  class='fas fa-angle-double-right'>"
                    + "</a>" +
                    + "</td></tr>";

                $(row).appendTo($('#apptable'));

            });
        });
    }

    function Staff() {
      
            //Load the droplists dynamically
            //Title
            var url = "http://172.17.83.129:8085/api/titles";
            $.getJSON(url, function (data) {
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#addstafftitle').append('<option value="' + value.name + '">' + value.name + '</option>');
                });
            });

         //Position
            var url = "http://172.17.83.129:8085/api/positions";
            $.getJSON(url, function (data) {
                $.each(data, function (index, value) {
                    // APPEND OR INSERT DATA TO SELECT ELEMENT.
                    $('#addstaffposition').append('<option value="' + value.name + '">' + value.name + '</option>');
                });
            });

    }
   

    function addStuff() {
       
        var n = document.getElementById("addstaffname").value;
        var check = valid;
        if (n === " ") { check = "empty"; }
        if(check === )
         alert("Please provide all details");
    }

    $(document).ready(function () {
        Staff();
        GetAllEmp();
        GetAllLearners()
        GetAllApplicants()

    });
</script>


