
@{
    ViewData["Title"] = "LibraryHall";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="page-inner">
 
    <div>
        <br />
        <center><h1 style="background-color:limegreen ; color:white">Library Hall </h1></center>
        <br />

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Modules Available</h5>
                    <p class="card-text">Modules or Subjects offered in the school </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">Add Module </a>
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">View Modules</a>
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">Delete Module</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Study Library</h5>
                    <p class="card-text">All text books that the school have in the library or been borrowed</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">Add Book</a>
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">View Books</a>
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">Delete Book</a>
                </div>
            </div>
        </div>
        <br />
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">News Room</h5>
                    <p class="card-text">This is where you add news to update the students and stuff </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">Upload News</a>
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">View News</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Annoucement</h5>
                    <p class="card-text">This is where you make announcement to update the students and stuff </p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">Make Announcement</a>
                    <a class="btn btn-success" href="teachersAdmin.html" role="button">View Announcements</a>
                </div>
            </div>

        </div>





        <div>

        </div>






    </div>





		</div>





	</div>

